spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://ecommerce.cx6kge0eeual.ap-northeast-2.rds.amazonaws.com:3306/ecommerce_db
    username: root
    password: T2rOqyU9IG
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    properties:
      hibernate:
        format_sql: true
